body{
  background-color: #282c34;
}
.App{  
    text-align: center;
    background-color: #282c34;
}
.movies-list{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  padding: 26px;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
 
}
.title{
    color: #d4d8e1;
}
.description{
  color: #cad1de;
}
#s{
  background-color: black;
  size: 10%;
}